<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Item</title>
  </head>
  <body>
    <div>Item :</div>
    <div>Name : <%= item.jewel %></div>
    <div>Category id : <%= item.category_id %></div>
    <div>Quantity : <%= item.quantity %></div>
    <div>Price : <%= item.price %></div>
    <a href="/items/updateItem/<%= item.id%>"><button>Edit</button></a>
  </body>
</html>
