<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div>All items :</div>
    <ul>
      <% items.forEach((item) => { %>
      <li>
        <div>Name : <a href="./items/<%= item.id %>"><%= item.jewel %></a></div>
        <div>Category id : <%= item.category_id %></div>
        <div>Quantity : <%= item.quantity %></div>
        <div>Price : <%= item.price %></div>
      </li>
      <% }) %>
    </ul>
    <a href="/createItem"><button>Create new item</button></a>
    <a href="/"><button>Back</button></a>
  </body>
</html>
